---
layout: archive
title: "Awards"
permalink: /awards/
author_profile: true
---

{% if site.talkmap_link == true %}
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
{% endif %}

<strong>Scholarships and Grants</strong>

<ul>
  <li>Zhiyuan Outstanding Research Visiting Fund (for visiting CAS) <span style="float: right;"><em>(2023)</em></span></li>
  <li>SJTU Outstanding Undergraduate Student Scholarship (top 15%) <span style="float: right;"><em>(2024/2022)</em></span></li>
  <li>Zhiyuan Honorary Scholarship (top 5%) <span style="float: right;"><em>(2024/2022/2021)</em></span></li>
</ul>

<strong>Miscellaneous</strong>

<ul>
  <li>Mathematical Contest in Modeling: Honorable Mention (MCM/ICM) <span style="float: right;"><em>(2023)</em></span></li>
</ul>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

