---
layout: archive
title: "Courses"
permalink: /projects/
author_profile: true
---

{% include base_path %}

<h1>Selected Essays:</h1> 
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}


<h1>Selected notes:</h1> 
<p>
    <i><a href="link_to_exterior_algebra">Exterior Algebra, Hypergraph and Some Relative Inequalities about the Bollobas Two Families Theorem</a></i><br>
    <i><a href="link_to_classification_groups">Classification of 18-Element Groups (in Chinese)</a></i><br>
    <i><a href="link_to_three_dimensional_systems">The Solution and Properties of Three-Dimensional Linear Systems with Constant Coefficients (in Chinese)</a></i>
</p>
