---
layout: archive
title: "Courses"
permalink: /projects/
author_profile: true
---

{% include base_path %}

<h1>Selected projects:</h1> 
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}


<h1>Selected essays/notes:</h1>
<a href="/files/e1.pdf"><i>Exterior Algebra, Hypergraph and Some Relative Inequalities about the Bollobas Two Families Theorem</i></a>  
<br>  
<a href="/files/e2.pdf"><i>Classification of 18-Element Groups (in Chinese)</i></a>  
<br>  
<a href="/files/e3.pdf"><i>The Solution and Properties of Three-Dimensional Linear Systems with Constant Coefficients (in Chinese)</i></a>  
<style>
  #clustr_globe, #clustrmap-container {
    display: none !important; 
  }
</style>

<!-- ClustrMaps 插件 -->
<script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=tRDTPGarC-5RCPo80HcMqy2MkHX-AEqQ5EzUfyP2dfA"></script>

<script>
  window.onload = function() {

    const globe = document.getElementById('clustrmap-container');
    const globeScript = document.getElementById('clstr_globe');
    

    if (globe) {
      globe.style.display = 'none'; 
    }

    // 防止插件的默认行为
    if (globeScript) {
      globeScript.style.display = 'none';  
    }
  };
</script>
