---
layout: archive
title: "Courses"
permalink: /projects/
author_profile: true
---

{% include base_path %}

<h1>Selected projects:</h1> 
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}


<h1>Selected essays/notes:</h1> 
[*Exterior Algebra, Hypergraph and Some Relative Inequalities about the Bollobas Two Families Theorem*](/files/e1.pdf)  
<br>  
[*Classification of 18-Element Groups (in Chinese)*](/files/e2.pdf)  
<br>  
[*The Solution and Properties of Three-Dimensional Linear Systems with Constant Coefficients (in Chinese)*](/files/e3.pdf)  

