---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---
{% include base_path %}
As an undergraduate student, I am very lucky to be advised by (in the order of my research timeline): </br>
[Prof. Qi Lei](https://cecilialeiqi.github.io/) from New York University,  [Prof.Yingbin Liang](https://sites.google.com/view/yingbinliang/home) from Ohio State University and [Prof.Juan-Pablo Ortega](https://juan-pablo-ortega.com/) from Nanyang Technological University.

Also,I would like to express my deepest gratitude to my advisors on my earlier project as a lower-division undergraduate students: [Dr.Wensheng Zhang](https://icmsec.cc.ac.cn/article/5/33.html?zc=36) from Chinese Academy of Sciences and [Prof.Yufeng Cao](https://www.acem.sjtu.edu.cn/en/faculty/caoyufeng.html) from SJTU. Please refer to the [Course page](https://li-yunai.github.io//projects/) for these projects.

{% include base_path %}


{% for post in site.publications %}
  {% include archive-single.html %}
{% endfor %}
