---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}

<p>As an undergraduate student, I am very lucky to be advised by (in the order of my research timeline):</p>
<p>
  <a href="https://cecilialeiqi.github.io/">Prof. Qi Lei</a> from New York University, 
  <a href="https://sites.google.com/view/yingbinliang/home">Prof. Yingbin Liang</a> from Ohio State University, and 
  <a href="https://juan-pablo-ortega.com/">Prof. Juan-Pablo Ortega</a> from Nanyang Technological University.
</p>

<p>
  Also, I would like to express my deepest gratitude to my advisors on my earlier project as a lower-division undergraduate student: 
  <a href="https://icmsec.cc.ac.cn/article/5/33.html?zc=36">Dr. Wensheng Zhang</a> from Chinese Academy of Sciences and 
  <a href="https://www.acem.sjtu.edu.cn/en/faculty/caoyufeng.html">Prof. Yufeng Cao</a> from SJTU. 
  Please refer to the <a href="https://li-yunai.github.io//projects/">Course page</a> for these projects.
</p>

{% include base_path %}

{% for post in site.publications %}
  {% include archive-single.html %}
{% endfor %}
<style>
  /* 隐藏插件的样式 */
  #clustr_globe, #clustrmap-container {
    display: none !important; /* 确保隐藏 */
  }
</style>

<!-- ClustrMaps 插件 -->
<script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=nk61BIOA7-yeuOuI5QgAKFh0WYfjsshzeakewCI-030"></script>

<script>
  window.onload = function() {
    // 获取 ClustrMaps 容器
    const globe = document.getElementById('clustrmap-container');
    
    // 如果元素存在，将其隐藏
    if (globe) {
      globe.style.display = 'none';
    }
  };
</script>

